.DS_Store
*pyc
.vscode
__pycache__
*.egg-info
*.png
*.avi
*.pth
*.npy
*.pt
*.zip
flash-attention/
InternVideo/
VideoMAEv2/flash-attention/
.ipynb_checkpoints/
models--OpenGVLab--InternVideo2-Stage1-1B-224p-f8/
models--OpenGVLab--InternVideo2-Stage2_1B-224p-f4/
.nfs*

